@model UploadedReportDetails

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>Uploaded report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.UploadedWhen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.UploadedWhen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Revision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Revision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.CompactFlash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.CompactFlash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Report.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Promote" asp-route-id="@Model.Report.Id" class="btn btn-secondary">Promote</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
@if (Model.ReadCapabilitiesId != 0)
{
    <div>
        <a asp-controller="TestedMedias" asp-action="Details" asp-route-id="@Model.ReadCapabilitiesId" target="_blank">Read capabilities</a>
    </div>
}
@if (Model.Report.ATA != null)
{
    <div>
        <a asp-controller="Atas" asp-action="Details" asp-route-id="@Model.Report.ATA.Id" target="_blank">ATA report</a>
    </div>
}
@if (Model.Report.ATAPI != null)
{
    <div>
        <a asp-controller="Atas" asp-action="Details" asp-route-id="@Model.Report.ATAPI.Id" target="_blank">ATAPI report</a>
    </div>
}
@if (Model.Report.SCSI != null)
{
    <div>
        <a asp-controller="Scsis" asp-action="Details" asp-route-id="@Model.Report.SCSI.Id" target="_blank">SCSI report</a>
    </div>
}
@if (Model.Report.MultiMediaCard != null)
{
    <div>
        <a asp-controller="MmcSds" asp-action="Details" asp-route-id="@Model.Report.MultiMediaCard.Id" target="_blank">MultiMediaCard report</a>
    </div>
}
@if (Model.Report.SecureDigital != null)
{
    <div>
        <a asp-controller="MmcSds" asp-action="Details" asp-route-id="@Model.Report.SecureDigital.Id" target="_blank">SecureDigital report</a>
    </div>
}
@if (Model.Report.USB != null)
{
    <div>
        <a asp-controller="Usbs" asp-action="Details" asp-route-id="@Model.Report.USB.Id" target="_blank">USB report</a>
    </div>
}
@if (Model.Report.FireWire != null)
{
    <div>
        Has a FireWire report.
    </div>
}
@if (Model.Report.PCMCIA != null)
{
    <div>
        Has a PCMCIA report.
    </div>
}
@if (Model.SameAll.Count > 0)
{
    <div>
        <h4>Other uploaded reports with same manufacturer, model and revision:</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SameAll)
            {
                <tr>
                    <td>
                        @item
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item" class="btn btn-primary" target="_blank">Details</a>
                        <a asp-action="Merge" asp-route-slave="@item" asp-route-master="@Model.Report.Id" class="btn btn-secondary">Merge</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
@if (Model.SameButManufacturer.Count > 0)
{
    <div>
        <h4>Other uploaded reports with same model and revision:</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SameButManufacturer)
            {
                <tr>
                    <td>
                        @item
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item" class="btn btn-primary" target="_blank">Details</a>
                        <a asp-action="Merge" asp-route-slave="@item" asp-route-master="@Model.Report.Id" class="btn btn-secondary">Merge</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
@if (Model.ReportAll.Count > 0)
{
    <div>
        <h4>Device reports with same manufacturer, model and revision:</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ReportAll)
            {
                <tr>
                    <td>
                        @item
                    </td>
                    <td>
                        <a asp-controller="Devices" asp-action="Details" asp-route-id="@item" class="btn btn-primary" target="_blank">Details</a>
                        <a asp-controller="Devices" asp-action="MergeReports" asp-route-deviceId="@item" asp-route-reportId="@Model.Report.Id" class="btn btn-secondary">Merge</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
@if (Model.ReportButManufacturer.Count > 0)
{
    <div>
        <h4>Device reports with same model and revision:</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ReportButManufacturer)
            {
                <tr>
                    <td>
                        @item
                    </td>
                    <td>
                        <a asp-controller="Devices" asp-action="Details" asp-route-id="@item" class="btn btn-primary" target="_blank">Details</a>
                        <a asp-controller="Devices" asp-action="MergeReports" asp-route-deviceId="@item" asp-route-reportId="@Model.Report.Id" class="btn btn-secondary">Merge</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
@if (Model.TestedMedias.Count > 0)
{
    <div>
        <h4>Tested media:</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TestedMedias[0].Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestedMedias[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestedMedias[0].MediumTypeName)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TestedMedias)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MediumTypeName)
                    </td>
                    <td>
                        <a asp-controller="TestedMedias" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary" target="_blank">Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}