@model CompactDiscOffset

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" name="viewport" />
    <title>Details</title>
</head>
<body>
<div>
    <h4>CompactDiscOffset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedWhen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedWhen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedWhen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedWhen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offset)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offset)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submissions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submissions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agreement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agreement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>