@model IEnumerable<DiscImageChef.CommonTypes.Metadata.BlockDescriptor>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" name="viewport" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Density)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockLength)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockLength)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>