@model Aaru.CommonTypes.Metadata.MmcFeatures

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Aaru Server";
}
@{
    // /***************************************************************************
    // Aaru Data Preservation Suite
    // ----------------------------------------------------------------------------
    //
    // Filename       : Details.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : Aaru Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2021 Natalia Portillo
    // ****************************************************************************/
}
<div>
<h4>MMC FEATURES</h4>
<hr />
<dl class="row">
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AACSVersion)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.AACSVersion)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AGIDs)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.AGIDs)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BindingNonceBlocks)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BindingNonceBlocks)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BlocksPerReadableUnit)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BlocksPerReadableUnit)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BufferUnderrunFreeInDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BufferUnderrunFreeInDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BufferUnderrunFreeInSAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BufferUnderrunFreeInSAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BufferUnderrunFreeInTAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BufferUnderrunFreeInTAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanAudioScan)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanAudioScan)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanEject)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanEject)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanEraseSector)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanEraseSector)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanExpandBDRESpareArea)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanExpandBDRESpareArea)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanFormat)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanFormat)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanFormatBDREWithoutSpare)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanFormatBDREWithoutSpare)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanFormatCert)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanFormatCert)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanFormatFRF)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanFormatFRF)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanFormatQCert)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanFormatQCert)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanFormatRRM)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanFormatRRM)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanGenerateBindingNonce)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanGenerateBindingNonce)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanLoad)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanLoad)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanMuteSeparateChannels)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanMuteSeparateChannels)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanOverwriteSAOTrack)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanOverwriteSAOTrack)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanOverwriteTAOTrack)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanOverwriteTAOTrack)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanPlayCDAudio)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanPlayCDAudio)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanPseudoOverwriteBDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanPseudoOverwriteBDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadAllDualR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadAllDualR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadAllDualRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadAllDualRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBDRE1)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBDRE1)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBDRE2)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBDRE2)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBDROM)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBDROM)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBluBCA)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBluBCA)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCDMRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCDMRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCPRM_MKB)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCPRM_MKB)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDDCD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDDCD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDVDPlusMRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDVDPlusMRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDVDPlusR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDVDPlusR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDVDPlusRDL)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDVDPlusRDL)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDVDPlusRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDVDPlusRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDVDPlusRWDL)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDVDPlusRWDL)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDriveAACSCertificate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDriveAACSCertificate)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadHDDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadHDDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadHDDVDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadHDDVDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadHDDVDRAM)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadHDDVDRAM)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadLeadInCDText)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadLeadInCDText)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadOldBDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadOldBDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadOldBDRE)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadOldBDRE)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadOldBDROM)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadOldBDROM)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadSpareAreaInformation)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadSpareAreaInformation)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReportDriveSerial)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReportDriveSerial)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReportMediaSerial)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReportMediaSerial)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanTestWriteDDCDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanTestWriteDDCDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanTestWriteDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanTestWriteDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanTestWriteInSAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanTestWriteInSAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanTestWriteInTAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanTestWriteInTAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanUpgradeFirmware)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanUpgradeFirmware)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteBD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteBD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteBDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteBDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteBDRE1)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteBDRE1)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteBDRE2)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteBDRE2)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteBusEncryptedBlocks)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteBusEncryptedBlocks)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteCDMRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteCDMRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteCDRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteCDRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteCDRWCAV)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteCDRWCAV)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteCDSAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteCDSAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteCDTAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteCDTAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteCSSManagedDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteCSSManagedDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDDCDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDDCDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDDCDRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDDCDRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDPlusMRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDPlusMRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDPlusR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDPlusR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDPlusRDL)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDPlusRDL)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDPlusRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDPlusRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDPlusRWDL)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDPlusRWDL)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDRDL)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDRDL)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteDVDRW)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteDVDRW)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteHDDVDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteHDDVDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteHDDVDRAM)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteHDDVDRAM)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteOldBDR)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteOldBDR)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteOldBDRE)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteOldBDRE)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWritePackedSubchannelInTAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWritePackedSubchannelInTAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteRWSubchannelInSAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteRWSubchannelInSAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteRWSubchannelInTAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteRWSubchannelInTAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteRaw)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteRaw)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteRawMultiSession)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteRawMultiSession)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanWriteRawSubchannelInTAO)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanWriteRawSubchannelInTAO)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ChangerIsSideChangeCapable)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ChangerIsSideChangeCapable)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ChangerSlots)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ChangerSlots)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ChangerSupportsDiscPresent)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ChangerSupportsDiscPresent)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CPRMVersion)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CPRMVersion)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CSSVersion)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CSSVersion)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DBML)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.DBML)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DVDMultiRead)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.DVDMultiRead)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.EmbeddedChanger)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.EmbeddedChanger)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ErrorRecoveryPage)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ErrorRecoveryPage)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.FirmwareDate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.FirmwareDate)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LoadingMechanismType)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LoadingMechanismType)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Locked)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Locked)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LogicalBlockSize)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LogicalBlockSize)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.MultiRead)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.MultiRead)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PhysicalInterfaceStandardNumber)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.PhysicalInterfaceStandardNumber)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PreventJumper)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.PreventJumper)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsAACS)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsAACS)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsBusEncryption)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsBusEncryption)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsC2)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsC2)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsCPRM)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsCPRM)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsCSS)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsCSS)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsDAP)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsDAP)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsDeviceBusyEvent)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsDeviceBusyEvent)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsHybridDiscs)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsHybridDiscs)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsModePage1Ch)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsModePage1Ch)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsOSSC)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsOSSC)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsPWP)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsPWP)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsSWPP)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsSWPP)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsSecurDisc)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsSecurDisc)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsSeparateVolume)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsSeparateVolume)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsVCPS)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsVCPS)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsWriteInhibitDCB)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsWriteInhibitDCB)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsWriteProtectPAC)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsWriteProtectPAC)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.VolumeLevels)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.VolumeLevels)
</dd>
</dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>