@using Aaru.Decoders.SecureDigital
@using Aaru.Server.Core
@model Aaru.CommonTypes.Metadata.MmcSd

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // Aaru Data Preservation Suite
    // ----------------------------------------------------------------------------
    //
    // Filename       : Delete.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : Aaru Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2020 Natalia Portillo
    // ****************************************************************************/
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MultiMediaCard / SecureDigital registers</h4>
    <hr />
    <dl class="row">
        @if (Model.SCR != null)
        {
            if (Model.CID != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CID)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Decoders.PrettifyCID(Model.CID)))
                </dd>
            }
            if (Model.CSD != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CSD)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Decoders.PrettifyCSD(Model.CSD)))
                </dd>
            }
            if (Model.OCR != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OCR)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Decoders.PrettifyOCR(Model.OCR)))
                </dd>
            }

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SCR)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Html.EncodedMultiLineText(Decoders.PrettifySCR(Model.SCR)))
            </dd>
        }
        else
        {
            if (Model.CID != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CID)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Aaru.Decoders.MMC.Decoders.PrettifyCID(Model.CID)))
                </dd>
            }
            if (Model.CSD != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CSD)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Aaru.Decoders.MMC.Decoders.PrettifyCSD(Model.CSD)))
                </dd>
            }
            if (Model.OCR != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OCR)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Aaru.Decoders.MMC.Decoders.PrettifyOCR(Model.OCR)))
                </dd>
            }

            if (Model.ExtendedCSD != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ExtendedCSD)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Html.EncodedMultiLineText(Aaru.Decoders.MMC.Decoders.PrettifyExtendedCSD(Model.ExtendedCSD)))
                </dd>
            }
        }
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
</div>