@model IEnumerable<Device>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" name="viewport" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddedWhen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedWhen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptimalMultipleSectorsRead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompactFlash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddedWhen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedWhen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptimalMultipleSectorsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompactFlash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>