@model DiscImageChef.CommonTypes.Metadata.Scsi

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Details.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<div>
    <h4>Scsi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InquiryData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InquiryData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportsModeSense6)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportsModeSense6)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportsModeSense10)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportsModeSense10)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportsModeSubpages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportsModeSubpages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense6Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeSense6Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense10Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeSense10Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense6CurrentData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeSense6CurrentData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense10CurrentData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeSense10CurrentData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense6ChangeableData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeSense6ChangeableData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense10ChangeableData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeSense10ChangeableData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>