@model IEnumerable<DiscImageChef.CommonTypes.Metadata.Scsi>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Index.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InquiryData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportsModeSense6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportsModeSense10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportsModeSubpages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeSense6Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeSense10Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeSense6CurrentData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeSense10CurrentData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeSense6ChangeableData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeSense10ChangeableData)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InquiryData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsModeSense6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsModeSense10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsModeSubpages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense6Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense10Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense6CurrentData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense10CurrentData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense6ChangeableData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense10ChangeableData)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>