@model Aaru.CommonTypes.Metadata.TestedMedia

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Aaru Server";
}
@{
    // /***************************************************************************
    // Aaru Data Preservation Suite
    // ----------------------------------------------------------------------------
    //
    // Filename       : Details.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : Aaru Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2021 Natalia Portillo
    // ****************************************************************************/
}
<div>
<h4>Tested media</h4>
<hr/>
<dl class="row">
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.IdentifyData)
</dt>
<dd class="col-sm-10">
    @if(Model.IdentifyData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.IdentifyData)" asp-route-id="@Model.Id" target="_blank">@Model.IdentifyData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Blocks)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Blocks)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BlockSize)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BlockSize)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadAACS)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadAACS)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadADIP)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadADIP)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadATIP)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadATIP)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadBCA)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadBCA)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadC2Pointers)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadC2Pointers)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCMI)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCMI)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCorrectedSubchannel)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCorrectedSubchannel)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCorrectedSubchannelWithC2)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCorrectedSubchannelWithC2)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDCB)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDCB)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDDS)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDDS)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDMI)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDMI)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadDiscInformation)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadDiscInformation)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadFullTOC)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadFullTOC)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadHDCMI)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadHDCMI)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadLayerCapacity)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadLayerCapacity)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadFirstTrackPreGap)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadFirstTrackPreGap)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadLeadIn)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadLeadIn)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadLeadOut)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadLeadOut)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadMediaID)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadMediaID)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadMediaSerial)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadMediaSerial)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadPAC)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadPAC)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadPFI)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadPFI)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadPMA)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadPMA)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadPQSubchannel)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadPQSubchannel)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadPQSubchannelWithC2)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadPQSubchannelWithC2)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadPRI)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadPRI)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadRWSubchannel)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadRWSubchannel)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadRWSubchannelWithC2)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadRWSubchannelWithC2)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadRecordablePFI)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadRecordablePFI)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadSpareAreaInformation)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadSpareAreaInformation)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadTOC)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadTOC)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Density)
</dt>
<dd class="col-sm-10">
    @if(Model.Density is null)
    {
        @("<null>")
    }
    else
    {
        @Html.DisplayFor(model => model.Density)
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LongBlockSize)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LongBlockSize)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Manufacturer)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Manufacturer)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.MediaIsRecognized)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.MediaIsRecognized)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.MediumType)
</dt>
<dd class="col-sm-10">
    @if(Model.MediumType is null)
    {
        @("<null>")
    }
    else
    {
        @Html.DisplayFor(model => model.MediumType)
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.MediumTypeName)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.MediumTypeName)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Model)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Model)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsHLDTSTReadRawDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsHLDTSTReadRawDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsNECReadCDDA)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsNECReadCDDA)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsPioneerReadCDDA)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsPioneerReadCDDA)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsPioneerReadCDDAMSF)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsPioneerReadCDDAMSF)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsPlextorReadCDDA)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsPlextorReadCDDA)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsPlextorReadRawDVD)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsPlextorReadRawDVD)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsRead10)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsRead10)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsRead12)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsRead12)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsRead16)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsRead16)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsRead6)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsRead6)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadCapacity16)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadCapacity16)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadCapacity)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadCapacity)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadCd)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadCd)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadCdMsf)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadCdMsf)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadCdRaw)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadCdRaw)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadCdMsfRaw)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadCdMsfRaw)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLong16)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLong16)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLong)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLong)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ModeSense6Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ModeSense6Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ModeSense6Data)" asp-route-id="@Model.Id" target="_blank">@Model.ModeSense6Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ModeSense10Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ModeSense10Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ModeSense10Data)" asp-route-id="@Model.Id" target="_blank">@Model.ModeSense10Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LBASectors)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LBASectors)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LBA48Sectors)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LBA48Sectors)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LogicalAlignment)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.LogicalAlignment)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.NominalRotationRate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.NominalRotationRate)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PhysicalBlockSize)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.PhysicalBlockSize)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SolidStateDevice)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SolidStateDevice)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.UnformattedBPT)
</dt>
<dd class="col-sm-10">
    @if(Model.UnformattedBPT is null)
    {
        @("<null>")
    }
    else
    {
        @Html.DisplayFor(model => model.UnformattedBPT)
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.UnformattedBPS)
</dt>
<dd class="col-sm-10">
    @if(Model.UnformattedBPS is null)
    {
        @("<null>")
    }
    else
    {
        @Html.DisplayFor(model => model.UnformattedBPS)
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadDmaLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadDmaLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadDmaRetryLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadDmaRetryLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadRetryLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadRetryLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLongLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLongLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLongRetryLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLongRetryLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsSeekLba)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsSeekLba)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadDmaLba48)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadDmaLba48)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLba48)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLba48)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadDma)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadDma)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadDmaRetry)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadDmaRetry)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadRetry)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadRetry)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadSectors)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadSectors)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsReadLongRetry)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsReadLongRetry)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.SupportsSeek)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.SupportsSeek)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadingIntersessionLeadIn)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadingIntersessionLeadIn)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadingIntersessionLeadOut)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadingIntersessionLeadOut)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.IntersessionLeadInData)
</dt>
<dd class="col-sm-10">
    @if(Model.IntersessionLeadInData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.IntersessionLeadInData)" asp-route-id="@Model.Id" target="_blank">@Model.IntersessionLeadInData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.IntersessionLeadOutData)
</dt>
<dd class="col-sm-10">
    @if(Model.IntersessionLeadOutData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.IntersessionLeadOutData)" asp-route-id="@Model.Id" target="_blank">@Model.IntersessionLeadOutData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Read6Data)
</dt>
<dd class="col-sm-10">
    @if(Model.Read6Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.Read6Data)" asp-route-id="@Model.Id" target="_blank">@Model.Read6Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Read10Data)
</dt>
<dd class="col-sm-10">
    @if(Model.Read10Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.Read10Data)" asp-route-id="@Model.Id" target="_blank">@Model.Read10Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Read12Data)
</dt>
<dd class="col-sm-10">
    @if(Model.Read12Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.Read12Data)" asp-route-id="@Model.Id" target="_blank">@Model.Read12Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Read16Data)
</dt>
<dd class="col-sm-10">
    @if(Model.Read16Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.Read16Data)" asp-route-id="@Model.Id" target="_blank">@Model.Read16Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLong10Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLong10Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLong10Data)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLong10Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLong16Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLong16Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLong16Data)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLong16Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadSectorsData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadSectorsData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadSectorsData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadSectorsData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadSectorsRetryData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadSectorsRetryData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadSectorsRetryData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadSectorsRetryData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadDmaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadDmaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadDmaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadDmaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadDmaRetryData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadDmaRetryData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadDmaRetryData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadDmaRetryData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLbaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLbaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLbaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLbaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadRetryLbaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadRetryLbaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadRetryLbaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadRetryLbaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadDmaLbaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadDmaLbaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadDmaLbaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadDmaLbaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadDmaRetryLbaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadDmaRetryLbaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadDmaRetryLbaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadDmaRetryLbaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLba48Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLba48Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLba48Data)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLba48Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadDmaLba48Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadDmaLba48Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadDmaLba48Data)" asp-route-id="@Model.Id" target="_blank">@Model.ReadDmaLba48Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLongData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLongData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLongData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLongData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLongRetryData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLongRetryData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLongRetryData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLongRetryData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLongLbaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLongLbaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLongLbaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLongLbaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadLongRetryLbaData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadLongRetryLbaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadLongRetryLbaData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadLongRetryLbaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.TocData)
</dt>
<dd class="col-sm-10">
    @if(Model.TocData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.TocData)" asp-route-id="@Model.Id" target="_blank">@Model.TocData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.FullTocData)
</dt>
<dd class="col-sm-10">
    @if(Model.FullTocData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.FullTocData)" asp-route-id="@Model.Id" target="_blank">@Model.FullTocData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AtipData)
</dt>
<dd class="col-sm-10">
    @if(Model.AtipData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.AtipData)" asp-route-id="@Model.Id" target="_blank">@Model.AtipData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PmaData)
</dt>
<dd class="col-sm-10">
    @if(Model.PmaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PmaData)" asp-route-id="@Model.Id" target="_blank">@Model.PmaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadCdData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadCdData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadCdData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadCdData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadCdMsfData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadCdMsfData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadCdMsfData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadCdMsfData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadCdFullData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadCdFullData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadCdFullData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadCdFullData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadCdMsfFullData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadCdMsfFullData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadCdMsfFullData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadCdMsfFullData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Track1PregapData)
</dt>
<dd class="col-sm-10">
    @if(Model.Track1PregapData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.Track1PregapData)" asp-route-id="@Model.Id" target="_blank">@Model.Track1PregapData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LeadInData)
</dt>
<dd class="col-sm-10">
    @if(Model.LeadInData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.LeadInData)" asp-route-id="@Model.Id" target="_blank">@Model.LeadInData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.LeadOutData)
</dt>
<dd class="col-sm-10">
    @if(Model.LeadOutData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.LeadOutData)" asp-route-id="@Model.Id" target="_blank">@Model.LeadOutData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.C2PointersData)
</dt>
<dd class="col-sm-10">
    @if(Model.C2PointersData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.C2PointersData)" asp-route-id="@Model.Id" target="_blank">@Model.C2PointersData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PQSubchannelData)
</dt>
<dd class="col-sm-10">
    @if(Model.PQSubchannelData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PQSubchannelData)" asp-route-id="@Model.Id" target="_blank">@Model.PQSubchannelData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.RWSubchannelData)
</dt>
<dd class="col-sm-10">
    @if(Model.RWSubchannelData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.RWSubchannelData)" asp-route-id="@Model.Id" target="_blank">@Model.RWSubchannelData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CorrectedSubchannelData)
</dt>
<dd class="col-sm-10">
    @if(Model.CorrectedSubchannelData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.CorrectedSubchannelData)" asp-route-id="@Model.Id" target="_blank">@Model.CorrectedSubchannelData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PQSubchannelWithC2Data)
</dt>
<dd class="col-sm-10">
    @if(Model.PQSubchannelWithC2Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PQSubchannelWithC2Data)" asp-route-id="@Model.Id" target="_blank">@Model.PQSubchannelWithC2Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.RWSubchannelWithC2Data)
</dt>
<dd class="col-sm-10">
    @if(Model.RWSubchannelWithC2Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.RWSubchannelWithC2Data)" asp-route-id="@Model.Id" target="_blank">@Model.RWSubchannelWithC2Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CorrectedSubchannelWithC2Data)
</dt>
<dd class="col-sm-10">
    @if(Model.CorrectedSubchannelWithC2Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.CorrectedSubchannelWithC2Data)" asp-route-id="@Model.Id" target="_blank">@Model.CorrectedSubchannelWithC2Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PfiData)
</dt>
<dd class="col-sm-10">
    @if(Model.PfiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PfiData)" asp-route-id="@Model.Id" target="_blank">@Model.PfiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DmiData)
</dt>
<dd class="col-sm-10">
    @if(Model.DmiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DmiData)" asp-route-id="@Model.Id" target="_blank">@Model.DmiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CmiData)
</dt>
<dd class="col-sm-10">
    @if(Model.CmiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.CmiData)" asp-route-id="@Model.Id" target="_blank">@Model.CmiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DvdBcaData)
</dt>
<dd class="col-sm-10">
    @if(Model.DvdBcaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DvdBcaData)" asp-route-id="@Model.Id" target="_blank">@Model.DvdBcaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DvdAacsData)
</dt>
<dd class="col-sm-10">
    @if(Model.DvdAacsData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DvdAacsData)" asp-route-id="@Model.Id" target="_blank">@Model.DvdAacsData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DvdDdsData)
</dt>
<dd class="col-sm-10">
    @if(Model.DvdDdsData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DvdDdsData)" asp-route-id="@Model.Id" target="_blank">@Model.DvdDdsData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DvdSaiData)
</dt>
<dd class="col-sm-10">
    @if(Model.DvdSaiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DvdSaiData)" asp-route-id="@Model.Id" target="_blank">@Model.DvdSaiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PriData)
</dt>
<dd class="col-sm-10">
    @if(Model.PriData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PriData)" asp-route-id="@Model.Id" target="_blank">@Model.PriData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.EmbossedPfiData)
</dt>
<dd class="col-sm-10">
    @if(Model.EmbossedPfiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.EmbossedPfiData)" asp-route-id="@Model.Id" target="_blank">@Model.EmbossedPfiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AdipData)
</dt>
<dd class="col-sm-10">
    @if(Model.AdipData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.AdipData)" asp-route-id="@Model.Id" target="_blank">@Model.AdipData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DcbData)
</dt>
<dd class="col-sm-10">
    @if(Model.DcbData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DcbData)" asp-route-id="@Model.Id" target="_blank">@Model.DcbData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.HdCmiData)
</dt>
<dd class="col-sm-10">
    @if(Model.HdCmiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.HdCmiData)" asp-route-id="@Model.Id" target="_blank">@Model.HdCmiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.DvdLayerData)
</dt>
<dd class="col-sm-10">
    @if(Model.DvdLayerData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.DvdLayerData)" asp-route-id="@Model.Id" target="_blank">@Model.DvdLayerData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BluBcaData)
</dt>
<dd class="col-sm-10">
    @if(Model.BluBcaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.BluBcaData)" asp-route-id="@Model.Id" target="_blank">@Model.BluBcaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BluDdsData)
</dt>
<dd class="col-sm-10">
    @if(Model.BluDdsData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.BluDdsData)" asp-route-id="@Model.Id" target="_blank">@Model.BluDdsData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BluSaiData)
</dt>
<dd class="col-sm-10">
    @if(Model.BluSaiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.BluSaiData)" asp-route-id="@Model.Id" target="_blank">@Model.BluSaiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BluDiData)
</dt>
<dd class="col-sm-10">
    @if(Model.BluDiData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.BluDiData)" asp-route-id="@Model.Id" target="_blank">@Model.BluDiData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BluPacData)
</dt>
<dd class="col-sm-10">
    @if(Model.PlextorReadCddaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PlextorReadCddaData)" asp-route-id="@Model.Id" target="_blank">@Model.PlextorReadCddaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PlextorReadCddaData)
</dt>
<dd class="col-sm-10">
    @if(Model.PlextorReadCddaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PlextorReadCddaData)" asp-route-id="@Model.Id" target="_blank">@Model.PlextorReadCddaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PioneerReadCddaData)
</dt>
<dd class="col-sm-10">
    @if(Model.PioneerReadCddaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PioneerReadCddaData)" asp-route-id="@Model.Id" target="_blank">@Model.PioneerReadCddaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PioneerReadCddaMsfData)
</dt>
<dd class="col-sm-10">
    @if(Model.PioneerReadCddaMsfData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PioneerReadCddaMsfData)" asp-route-id="@Model.Id" target="_blank">@Model.PioneerReadCddaMsfData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.NecReadCddaData)
</dt>
<dd class="col-sm-10">
    @if(Model.NecReadCddaData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.NecReadCddaData)" asp-route-id="@Model.Id" target="_blank">@Model.NecReadCddaData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.PlextorReadRawDVDData)
</dt>
<dd class="col-sm-10">
    @if(Model.PlextorReadRawDVDData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.PlextorReadRawDVDData)" asp-route-id="@Model.Id" target="_blank">@Model.PlextorReadRawDVDData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.HLDTSTReadRawDVDData)
</dt>
<dd class="col-sm-10">
    @if(Model.HLDTSTReadRawDVDData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.HLDTSTReadRawDVDData)" asp-route-id="@Model.Id" target="_blank">@Model.HLDTSTReadRawDVDData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadCdScrambled)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadCdScrambled)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadCdScrambledData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadCdScrambledData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadCdScrambledData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadCdScrambledData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadF1_06)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadF1_06)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadF1_06Data)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadF1_06Data != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadF1_06Data)" asp-route-id="@Model.Id" target="_blank">@Model.ReadF1_06Data.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.CanReadF1_06LeadOut)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.CanReadF1_06LeadOut)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ReadF1_06LeadOutData)
</dt>
<dd class="col-sm-10">
    @if(Model.ReadF1_06LeadOutData != null)
    {
        <a asp-action="ViewData" asp-route-data="@nameof(Model.ReadF1_06LeadOutData)" asp-route-id="@Model.Id" target="_blank">@Model.ReadF1_06LeadOutData.Length bytes</a>
    }
    else
    {
        @("<null>")
    }
</dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>