@model IEnumerable<DiscImageChef.CommonTypes.Metadata.ScsiMode>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // Aaru Data Preservation Suite
    // ----------------------------------------------------------------------------
    //
    // Filename       : Index.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2020 Natalia Portillo
    // ****************************************************************************/
}
<h4>SCSI MODE SENSE responses</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediumType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WriteProtected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BufferedMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlankCheckEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DPOandFUA)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediumType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteProtected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BufferedMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlankCheckEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPOandFUA)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>