@model DiscImageChef.CommonTypes.Metadata.SupportedDensity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>SupportedDensity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Writable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Writable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duplicate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duplicate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultDensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultDensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitsPerMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitsPerMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tracks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tracks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
