@model IEnumerable<DiscImageChef.CommonTypes.Metadata.SupportedDensity>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Index.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duplicate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDensity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitsPerMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tracks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duplicate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDensity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitsPerMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tracks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
