@model UsbModelForView

@{
    ViewBag.Title = "Consolidate duplicate USB devices";
    Layout = "_Layout";
}
<h2>Consolidate duplicate ATAs</h2>
<div>
    The following USB devices have duplicates.
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].ProductID)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(UsbModel item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    Do you want to remove the duplicates?
    <form asp-action="Consolidate" enctype="multipart/form-data">
        <input asp-for="Json" name="models" type="hidden"/>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input class="btn btn-danger" type="submit" value="Consolidate"/>
    </form>
</div>