@model IEnumerable<DiscImageChef.CommonTypes.Metadata.TestedMedia>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Index.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentifyData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blocks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadAACS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadADIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadATIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadBCA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadC2Pointers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadCMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadCorrectedSubchannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadCorrectedSubchannelWithC2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadDCB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadDDS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadDMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadDiscInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadFullTOC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadHDCMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadLayerCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadFirstTrackPreGap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadLeadIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadLeadOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadMediaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadMediaSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadPAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadPFI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadPMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadPQSubchannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadPQSubchannelWithC2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadPRI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadRWSubchannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadRWSubchannelWithC2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadRecordablePFI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadSpareAreaInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadTOC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongBlockSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaIsRecognized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediumType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediumTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsHLDTSTReadRawDVD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsNECReadCDDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsPioneerReadCDDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsPioneerReadCDDAMSF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsPlextorReadCDDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsPlextorReadRawDVD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsRead10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsRead12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsRead16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsRead6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadCapacity16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadCd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadCdMsf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadCdRaw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadCdMsfRaw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLong16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeSense6Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeSense10Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LBASectors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LBA48Sectors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogicalAlignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NominalRotationRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalBlockSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolidStateDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnformattedBPT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnformattedBPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadDmaLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadDmaRetryLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadRetryLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLongLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLongRetryLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsSeekLba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadDmaLba48)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLba48)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadDma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadDmaRetry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadRetry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadSectors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsReadLongRetry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportsSeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadingIntersessionLeadIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanReadingIntersessionLeadOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntersessionLeadInData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntersessionLeadOutData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read6Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read10Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read12Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read16Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLong10Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLong16Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadSectorsData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadSectorsRetryData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDmaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDmaRetryData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLbaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadRetryLbaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDmaLbaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDmaRetryLbaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLba48Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDmaLba48Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLongData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLongRetryData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLongLbaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadLongRetryLbaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TocData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullTocData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtipData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadCdData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadCdMsfData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadCdFullData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadCdMsfFullData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track1PregapData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadInData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadOutData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C2PointersData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQSubchannelData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RWSubchannelData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectedSubchannelData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQSubchannelWithC2Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RWSubchannelWithC2Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectedSubchannelWithC2Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PfiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DmiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvdBcaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvdAacsData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvdDdsData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvdSaiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmbossedPfiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdipData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcbData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HdCmiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvdLayerData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BluBcaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BluDdsData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BluSaiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BluDiData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BluPacData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlextorReadCddaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PioneerReadCddaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PioneerReadCddaMsfData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NecReadCddaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlextorReadRawDVDData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HLDTSTReadRawDVDData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentifyData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadAACS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadADIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadATIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadBCA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadC2Pointers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadCMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadCorrectedSubchannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadCorrectedSubchannelWithC2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadDCB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadDDS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadDMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadDiscInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadFullTOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadHDCMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadLayerCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadFirstTrackPreGap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadLeadIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadLeadOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadMediaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadMediaSerial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadPAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadPFI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadPMA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadPQSubchannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadPQSubchannelWithC2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadPRI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadRWSubchannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadRWSubchannelWithC2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadRecordablePFI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadSpareAreaInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadTOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongBlockSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaIsRecognized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediumType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediumTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsHLDTSTReadRawDVD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsNECReadCDDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsPioneerReadCDDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsPioneerReadCDDAMSF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsPlextorReadCDDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsPlextorReadRawDVD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsRead10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsRead12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsRead16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsRead6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadCapacity16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadCd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadCdMsf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadCdRaw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadCdMsfRaw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLong16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense6Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeSense10Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LBASectors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LBA48Sectors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogicalAlignment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominalRotationRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalBlockSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolidStateDevice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnformattedBPT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnformattedBPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadDmaLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadDmaRetryLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadRetryLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLongLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLongRetryLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsSeekLba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadDmaLba48)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLba48)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadDma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadDmaRetry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadRetry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadSectors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsReadLongRetry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportsSeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadingIntersessionLeadIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanReadingIntersessionLeadOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntersessionLeadInData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntersessionLeadOutData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read6Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read10Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read12Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read16Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLong10Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLong16Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadSectorsData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadSectorsRetryData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadDmaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadDmaRetryData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLbaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadRetryLbaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadDmaLbaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadDmaRetryLbaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLba48Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadDmaLba48Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLongData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLongRetryData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLongLbaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadLongRetryLbaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TocData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullTocData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtipData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadCdData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadCdMsfData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadCdFullData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadCdMsfFullData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track1PregapData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadInData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadOutData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C2PointersData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQSubchannelData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RWSubchannelData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectedSubchannelData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQSubchannelWithC2Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RWSubchannelWithC2Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectedSubchannelWithC2Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DmiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdBcaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdAacsData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdDdsData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdSaiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmbossedPfiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdipData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DcbData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HdCmiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdLayerData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BluBcaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BluDdsData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BluSaiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BluDiData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BluPacData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlextorReadCddaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PioneerReadCddaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PioneerReadCddaMsfData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NecReadCddaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlextorReadRawDVDData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HLDTSTReadRawDVDData)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
