@model IEnumerable<DiscImageChef.CommonTypes.Metadata.ScsiMode>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MediumType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WriteProtected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BufferedMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlankCheckEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPOandFUA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediumType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteProtected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BufferedMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlankCheckEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPOandFUA)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
