@model DiscImageChef.CommonTypes.Metadata.TestedSequentialMedia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>TestedSequentialMedia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanReadMediaSerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanReadMediaSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Density)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Density)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaIsRecognized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaIsRecognized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediumType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediumType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediumTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediumTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense6Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeSense6Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeSense10Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeSense10Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
