@model DiscImageChef.CommonTypes.Metadata.MmcSd

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Delete.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MmcSd</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CSD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CSD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OCR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OCR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SCR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SCR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedCSD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtendedCSD)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
</div>