@model DiscImageChef.CommonTypes.Metadata.MmcSd

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>MmcSd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SCR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedCSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtendedCSD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
